.App {
  text-align: center;
  
}


.App-Calculator {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  
}

.App-Calculator button {
  margin: 0.5rem;
  border-radius: 1rem;
  font-size: 3rem;

}


